.navbar {
    padding: 15px;
    box-shadow: 0px 0px 3px 0px black;
}

.navbar-brand a{
    text-decoration: none;
    padding: 0;
    color: black;
    font-weight: 700;
}

.navbar-nav a{
    color: black;
    text-decoration: none;
    margin-left: 15px;  
    font-weight: 600;
    text-transform: uppercase; 
    padding: 12px;
}

.navbar-nav a.active{
    background-color: black;
    color: white;    
    border-radius: 5px;
}

.navbar-toggler-icon{
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 45px;
}

